/* =========================================================
                        GLOBAL STYLING
   ========================================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #eee;
  background: url(images/background.jpg) no-repeat center fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #eee;
}

p {
  font-size: 14px;
  font-weight: 300;
}

img {
  width: 100%;
}

/* =========================================================
                        HEADER STYLING
   ========================================================= */

header,
.top-nav {
  width: 100%;
  height: 100vh;
}

.top-nav {
  position: fixed;
  top: -100vh;
  background-color: #16162d;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 32px;
}
.nav-link {
  font-family: "Lobster", sans-serif;
  font-size: 20px;
  padding: 10px;
}

.nav-link:hover,
.nav-link:focus {
  background: linear-gradient(to top, #67c7ff, #fd57bf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.menu-toggler {
  position: absolute;
  top: 80px;
  right: 80px;
  width: 80px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}

.menu-toggler.open {
  transform: rotate(-45deg);
}

.bar {
  background: linear-gradient(to right, #67c7ff, #fd57bf);
  width: 100%;
  height: 4px;
  border-radius: 12.8px;
}

.bar.half {
  width: 50%;
}

.bar.start {
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
  transform: rotate(-450deg) translateX(12.8px);
}

.bar.end {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
  transform: rotate(-450deg) translateX(-12.8px);
}
