/* =========================================================
                        GLOBAL STYLING
   ========================================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background: url(images/large-background.jpeg) no-repeat fixed;
  background-size: cover;
  font-family: '"Roboto"', sans-serif;
}

.project-tile,
button,
label {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
p,
a,
label,
button,
input[type="submit"] {
  color: #dedede;
}

h1,
h2,
h3,
h4,
p,
.project-tile {
  font-weight: 300;
}

a,
button {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

section {
  min-height: 100vh;
}

/* =========================================================
                      REUSABLE STYLING
   ========================================================= */

/* Section Heading Lines */
#welcome-heading,
.section-heading h1::before,
.section-heading h1::after,
.icon {
  position: absolute;
}

.section-heading h1::before,
.section-heading h1::after {
  content: "";
  bottom: -8px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(49, 194, 158, 0.75);
}

.section-heading h1:after {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  bottom: -15px;
}

.section-heading h1::before {
  width: 100px;
  height: 3px;
  border-radius: 12.8px;
}
/* END */

.container {
  height: 100%;
  padding: 100px 40px 60px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.4);
}

.section-heading h1,
.container,
.copyright,
#circ ul li {
  position: relative;
}

#welcome-heading h1,
input,
select,
textarea {
  padding: 16px;
}

.about-heading,
.section-heading h1,
.portfolio-description h3,
.project-tile,
input[type="submit"] {
  text-transform: uppercase;
}

.about .container,
.about-details .nav-list,
.portfolio-item,
#navbar,
#navbar .nav-list {
  display: flex;
  align-items: center;
}

header,
img,
form,
input,
select,
textarea,
.profile-img,
.portfolio-description,
.copyright,
.icon,
.logo,
#navbar,
#navbar .nav-list,
#circ ul {
  width: 100%;
}

#welcome-section,
#circ,
.container,
form {
  margin: 0 auto;
}

.nav-link:hover,
.nav-link:focus,
.about-details h2,
.section-heading h1 {
  color: #31c29e;
}

#welcome-section,
.about-details,
.section-heading,
.copyright,
#circ,
#circ ul li {
  text-align: center;
}

.about-details,
.profile-img,
.portfolio-description {
  flex: 1;
}

.cta button,
input,
select,
textarea {
  border: none;
}

.cta button,
.logo,
.portfolio-img,
#circ ul li,
input[type="submit"] {
  cursor: pointer;
}

.about .container,
.about-details .nav-list,
#navbar .nav-list,
.portfolio-item {
  justify-content: center;
}

.project-tile,
.social-media i,
.icon,
input[type="submit"] {
  transition: all 350ms;
  display: block;
}

#welcome-section,
#welcome-heading,
.container {
  width: 90%;
  max-width: 768px;
}

.about .container,
.portfolio-item {
  flex-direction: column;
}

.social-media i:hover,
.nav-list li:hover {
  transform: scale(1.1);
}

#welcome-heading h1,
.section-heading h1 {
  font-family: "Kaushan Script", sans-serif;
}

.portfolio h1,
.contact h1 {
  opacity: 0.8;
}

#section-heading h1,
.section-heading {
  margin-bottom: 32px;
}

.section-heading h1 {
  margin-bottom: 16px;
}

.section-heading h1,
.icon {
  font-size: 24px;
}

.section-heading {
  margin-bottom: 32px;
}

.about-heading {
  margin-bottom: 16px;
}

.about-heading h2 {
  opacity: 0.6;
}

/* =========================================================
                      HEADER STYLING
========================================================= */

#navbar {
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  min-height: 10vh;
  position: fixed;
  z-index: 100;
  background-color: #2e1a35;
  border-bottom: 3px solid rgba(222, 138, 213, 0.4);
  justify-content: space-around;
}

.cta button {
  padding: 2px 24px;
  background-color: rgba(49, 194, 158, 0.8);
  border-radius: 50px;
}

.nav-list,
.logo,
#circ ul {
  list-style: none;
}

.cta button:hover,
.cta button:focus {
  background-color: rgba(49, 194, 158, 0.6);
}

.logo-container {
  width: 65px;
  height: 70px;
  margin: 6px 24px 0px;
}

.nav-list li a {
  transition: 0.2 ease-in-out;
  padding: 0px 12px;
}

/* =========================================================
                      WELCOME STYLING
========================================================= */

#welcome-heading {
  background: linear-gradient(to right, #171d2d 50%, #2e1a35);
  opacity: 0.9;
  border-radius: 25px;
  max-width: 520px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#welcome-section h1 {
  background: linear-gradient(to top, #de8ad5 25%, #31c29e);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 700;
}

/* Down Arrows */
.arrows {
  margin-top: 550px;
  width: 60px;
  height: 72px;
}

.arrows path {
  stroke: #2994d1;
  fill: transparent;
  stroke-width: 2px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
  -moz-animation: arrow 2s infinite;
}

@keyframes arrow {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@-webkit-keyframes arrow {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@-moz-keyframes arrow {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  -moz-animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: -0.5s;
}
/* End */

#welcome-section {
  height: 100vh;
}

#welcome-heading h1 {
  font-size: 36px;
}

#welcome-heading h2 {
  padding-bottom: 16px;
}

.txt-type {
  border-right: 0.1px solid #777;
}

/* =========================================================
                      ABOUT STYLING
   ========================================================= */

.about-heading h1 {
  font-size: 16px;
  margin-bottom: -12px;
  text-shadow: 1px 1px #212121, 2px 2px #212121, 3px 3px #212121;
  -moz-text-shadow: 1px 1px #212121, 2px 2px #212121, 3px 3px #212121;
  -webkit-text-shadow: 1px 1px #212121, 2px 2px #212121, 3px 3px #212121;
}

.about-heading h2 {
  font-size: 52px;
  position: relative;
  z-index: -10;
}

.twitter,
.linkedin,
.github {
  padding: 6px 20px;
}

.about-details .nav-list {
  flex-direction: row;
}

.profile-img {
  margin-bottom: 32px;
}

.profile-img img {
  border-radius: 60%;
}

.social-media {
  margin-top: 32px;
}

.social-media i {
  font-size: 32px;
}

.twitter:hover {
  background-color: #00aced;
}

.linkedin:hover {
  background-color: #0073a4;
}

.github:hover {
  background-color: #5a32a3;
}

/* =========================================================
                    PORTFOLIO STYLING
========================================================= */

.portfolio-img:hover {
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  box-shadow: 0 0 20px #add8e6;
}

.portfolio-description h3,
.project-tile:hover {
  font-weight: 500;
}

.portfolio-description h3 {
  margin: 12px 0px;
  color: rgba(222, 138, 213, 0.8);
}

.portfolio-item {
  margin-bottom: 100px;
}

.project-tile {
  margin-top: 12px;
  color: #add8e6;
}

.portfolio-item:last-child {
  margin-bottom: 0;
}

/* =========================================================
                    CONTACT/FORM STYLING
   ========================================================= */

#circ ul li {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin: 0 5px 5px;
  background: #e8e6e3;
  border: solid 5px #171d2d;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

input[type="submit"] {
  width: initial;
  background-color: rgba(222, 138, 213, 0.8);
  padding: 20px 40px;
  border-radius: 12px;
}

input,
select,
textarea {
  margin: 6px 0 16px;
  outline-color: #de8ad5;
  color: #000;
}

#circ {
  max-width: 100%;
  min-height: 200px;
}

input[type="submit"]:hover {
  background-color: rgba(222, 138, 213, 0.5);
}

#contact .container {
  border-bottom: none;
}

.icon {
  font-size: 24px;
  color: #004d40;
}

.icon i {
  line-height: 50px;
}

#circ ul {
  margin-top: 62px;
}

#circ ul li:hover {
  border: solid 5px #31c29e;
}

/* =========================================================
                    FOOTER STYLING
   ========================================================= */

.copyright {
  background-color: #171d2d;
  padding: 20px 0;
}

/* =========================================================
                  RESPONSIVE STYLING
   ========================================================= */

@media (max-width: 1024px) {
  .portfolio-img {
    order: 1;
  }

  .portfolio-description {
    order: 2;
  }

  .logo-container {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .profile-img,
  .portfolio-img {
    min-width: 400px;
    max-width: 480px;
  }

  .nav-list li a {
    padding: 0px 30px;
  }
}

@media (min-width: 1024px) {
  /* REUSABLE STYLING */

  section p {
    font-size: 20px;
  }

  form label,
  .project-tile,
  .nav-link {
    font-size: 14px;
  }

  .about .container,
  .portfolio-item {
    flex-direction: row;
  }

  .section-heading h2,
  .portfolio-description h3 {
    font-size: 26px;
  }

  #section-heading h1,
  .section-heading {
    margin-bottom: 52px;
  }

  #welcome-section,
  .container {
    max-width: 1200px;
  }

  .container {
    padding: 160px 40px 80px;
  }

  .section-heading h1 {
    font-size: 32px;
  }

  .about-heading h1 {
    font-size: 24px;
  }

  .about-heading h2 {
    font-size: 82px;
  }

  /* HEADER STYLING */

  .nav-list li a {
    padding: 0px;
    font-size: 16px;
  }

  #navbar .nav-list {
    justify-content: flex-end;
  }

  .logo-container {
    max-width: 85px;
  }

  .nav-list li {
    margin: 0px 48px;
  }

  /* WELCOME STYLING */

  #welcome-heading h2 {
    font-size: 42px;
    padding-bottom: 24px;
  }

  #welcome-heading {
    max-width: 768px;
  }

  #welcome-heading h1 {
    font-size: 72px;
    padding: 24px;
  }

  .arrows {
    margin-top: 620px;
  }

  /* ABOUT STYLING */

  .twitter,
  .linkedin,
  .github {
    padding: 10px 14px;
  }

  .margin-right,
  .profile-img {
    margin-right: 40px;
  }

  .profile-img {
    padding-bottom: 0;
  }

  .about-details li {
    margin: 0 32px;
  }

  .social-media i {
    font-size: 42px;
  }

  /* PORTFOLIO STYLING */

  .portfolio-item {
    margin-bottom: 180px;
  }

  /* CONTACT STYLING */

  #circ ul li {
    width: 80px;
    height: 80px;
    margin: 0 10px;
  }

  input[type="submit"] {
    font-size: 12px;
  }

  .icon {
    font-size: 32px;
  }

  .icon i {
    line-height: 70px;
  }

  form {
    width: 70%;
  }

  /* FOOTER STYLING */

  .copyright {
    padding: 24px 0;
  }
}
