.navigation {
  background-color: $color-white;

  &__container {
    justify-content: flex-end;
  }

  &__nav {
    a {
      color: $color-dusty-blue-light;

      &:hover,
      &:active {
        color: $color-dusty-blue-dark;
      }
    }
  }
}
// Look up Git congif user setup
