/* =========================================================
                        GLOBAL STYLING
   ========================================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: url(images/large-background.jpeg) no-repeat fixed;
  background-size: cover;
  font-family: '"Roboto"', sans-serif;
}

label,
p,
.project-tile {
  font-size: 12px;
}

h1,
h2,
h3,
h4,
p,
a,
label,
button,
input[type="submit"] {
  color: #eee;
}

h1,
h2,
h3,
h4,
p,
.project-tile {
  font-weight: 300;
}

a,
button {
  text-decoration: none;
}

img {
  border-radius: 10px;
}

/* =========================================================
                      REUSABLE STYLING
   ========================================================= */

/* Section Heading Lines */
.section-heading h1::before,
.section-heading h1::after {
  position: absolute;
  content: "";
  bottom: -8px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(49, 194, 158, 0.75);
}

.section-heading h1:after {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  bottom: -15px;
}

.section-heading h1::before {
  width: 100px;
  height: 3px;
  border-radius: 12.8px;
}
/* END */

.section-heading h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

.section-heading h1,
.container,
.section-heading h1,
.copyright {
  position: relative;
}

#welcome-section h1,
input,
select,
textarea {
  padding: 16px;
}

.section-heading h1,
.about-heading,
.portfolio-description h3,
.project-tile,
input[type="submit"] {
  text-transform: uppercase;
}

#navbar,
.nav-list,
.about .container,
.about-details .nav-list,
.portfolio-item {
  display: flex;
  align-items: center;
}

.portfolio-description h4,
.nav-link,
input[type="submit"],
button {
  font-size: 14px;
}

header,
nav,
img,
form,
input,
select,
textarea,
.profile-img,
.portfolio-description,
.copyright {
  width: 100%;
}

#welcome-section,
.container,
form {
  margin: 0 auto;
}

.nav-link:hover,
.nav-link:focus,
h1 {
  color: #31c29e;
}

.portfolio-description h3,
.about-heading h1 {
  opacity: 0.5;
}

#welcome-section,
.container {
  width: 90%;
  max-width: 768px;
}

#welcome-section h1,
.portfolio h1,
.contact h1 {
  font-family: "Kaushan Script", sans-serif;
}

#welcome-section,
.about-heading,
.section-heading,
.text-align,
.copyright {
  text-align: center;
}

#welcome-section h2,
.about-heading h2,
.portfolio-description h3 {
  font-size: 16px;
}

.about-details,
.profile-img,
.profile-img,
.portfolio-description {
  flex: 1;
}

input,
select,
textarea,
.cta button {
  border: none;
}

.cta button,
.logo,
.portfolio-img {
  cursor: pointer;
}

.section-heading,
.about-heading {
  margin-bottom: 32px;
}

.about .container,
.about-details .nav-list,
.portfolio-item {
  justify-content: center;
}

#section-heading h1 .portfolio-img,
.logo {
  margin-bottom: 16px;
}

.about .container,
.portfolio-item {
  flex-direction: column;
}

input[type="submit"],
.project-tile,
.social-media i {
  transition: all 350ms;
}

.social-media i:hover,
.project-tile:hover {
  transform: scale(1.1);
}

.container {
  height: 100%;
  padding: 72px 20px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.6);
}

/* =========================================================
                      HEADER STYLING
========================================================= */

#navbar {
  top: 0;
  left: 0;
  height: 55px;
  position: fixed;
  z-index: 100;
  justify-content: space-around;
  padding: 12px 6px;
  background-color: #2e1a35;
}

.cta button {
  padding: 0px 25px;
  background-color: rgba(49, 194, 158, 0.8);
  border-radius: 50px;
}

.nav-list li a {
  transition: 0.2 ease-in-out;
  padding: 0px 20px;
}

.nav-list,
.logo {
  list-style: none;
}

.cta button:hover {
  background-color: rgba(49, 194, 158, 0.6);
}

.logo {
  height: 45px;
}

.logo-container {
  max-width: 55px;
}

/* =========================================================
                      WELCOME STYLING
========================================================= */

#welcome-section {
  background-color: rgba(41, 21, 49, 0.6);
  height: 450px;
  border-radius: 25px;
  padding-top: 100px;
  margin-top: 100px;
}

#welcome-section h1 {
  background: linear-gradient(to top, #31c29e 25%, #9d33bb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 500;
}

#welcome-section h1,
.about-heading h1 {
  font-size: 36px;
}

#welcome-section h2 {
  padding-bottom: 46px;
}

/* Down Arrows */
.arrows {
  width: 60px;
  height: 72px;
}

.arrows path {
  stroke: #2994d1;
  fill: transparent;
  stroke-width: 2px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}
/* End */

/* =========================================================
                      ABOUT STYLING
   ========================================================= */

.about-heading {
  line-height: 0;
}

.about-details .nav-list {
  flex-direction: row;
}

.profile-img {
  margin-bottom: 72px;
}

.social-media {
  margin-top: 32px;
  display: block;
}

.social-media i {
  font-size: 32px;
}

.fa-twitter,
.fa-linkedin,
.fa-github {
  padding: 5px 8px;
}

.fa-twitter:hover {
  background-color: #00aced;
}

.fa-linkedin:hover {
  background-color: #0073a4;
}

.fa-github:hover {
  background-color: #5a32a3;
}

/* =========================================================
                    PORTFOLIO STYLING
========================================================= */

.portfolio-img img {
  border-radius: 5px;
}

.portfolio-img:hover {
  transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  box-shadow: 10px 10px 5px #888888;
}

.portfolio-item {
  margin-bottom: 56px;
}

.portfolio h1,
.contact h1 {
  opacity: 0.8;
}

.portfolio-description h3 {
  padding-top: 16px;
}

.portfolio-description h4 {
  color: #c672dd;
  margin: 6px 0 12px;
}

.project-tile {
  display: inline-block;

  margin-top: 12px;
  color: #2994d1;
}

.project-tile:hover {
  font-weight: 700;
}

.portfolio-item:last-child {
  margin-bottom: 0;
}

.fa {
  display: inline;
}

/* =========================================================
                    CONTACT/FORM STYLING
   ========================================================= */

input[type="submit"] {
  width: initial;
  background-color: rgba(198, 114, 221, 0.8);
  padding: 20px 40px;
  border-radius: 12px;
  cursor: pointer;
}

input,
select,
textarea {
  margin: 6px 0 16px;
  outline-color: #c672dd;
  color: #000;
}

input[type="submit"]:hover {
  background-color: rgba(198, 114, 221, 0.5);
}

#contact .container {
border-bottom: none;
}

/* =========================================================
                    FOOTER STYLING
   ========================================================= */

.copyright {
  background-color: #171d2d;
  padding: 12px 0px;
}

/* =========================================================
                  RESPONSIVE STYLING
   ========================================================= */

@media (max-width: 767px) {
  .portfolio-img {
    order: 1;
  }

  .portfolio-description {
    order: 2;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .profile-img,
  .portfolio-img {
    min-width: 400px;
    max-width: 400px;
  }
}

@media (min-width: 768px) {
  #welcome-section {
    height: 100vh;
  }

  #welcome-section h2 {
    padding-bottom: 120px;
  }

  .about .container,
  .portfolio-item {
    flex-direction: row;
  }

  .section-heading h2,
  .portfolio-description h3 {
    font-size: 26px;
  }

  #welcome-section,
  .container {
    max-width: 1200px;
  }

  .margin-right,
  .profile-img {
    margin-right: 40px;
  }

  .fa-twitter,
  .fa-linkedin,
  .fa-github {
    padding: 10px 14px;
  }

  .logo-container {
    max-width: 85px;
  }

  form {
    width: 70%;
  }

  .container {
    padding: 100px 40px;
  }

  .profile-img {
    padding-bottom: 0;
  }

  #contact {
    padding-bottom: 120px;
  }

  #welcome-section h1 {
    font-size: 72px;
  }

  #welcome-section h2 {
    font-size: 36px;
  }

  .section-heading h1 {
    font-size: 32px;
  }

  .about-heading h1 {
    font-size: 62px;
  }

  .portfolio-description h4 {
    font-size: 22px;
  }

  .nav-link {
    font-size: 12px;
  }

  p,
  form label,
  .project-tile {
    font-size: 14px;
  }

  input[type="submit"] {
    font-size: 12px;
  }

  .social-media i {
    font-size: 42px;
  }

  .portfolio-item {
    margin-top: 80px;
  }

  li {
    margin: 0px 48px;
  }

  .about-details li {
    margin: 0 32px;
  }
}
